/* Sidebar styling */
.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

    /* Links inside the sidebar */
    .sidebar a {
        padding: 10px 15px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
    }

        /* Change color on hover */
        .sidebar a:hover {
            color: #f1f1f1;
        }

/* Main content styling */
.content {
    margin-left: 200px; /* Adjust according to the width of the sidebar */
    padding: 20px;
}

header {
    padding: 15px;
    background-color: #757575;
    color: #fff;
    text-align: left;
}
